.example{
margin-top: -20px;
  margin-left: 100px;

}
ul{
list-style-type: none;
}


/* .label{
    background-color: cyan;
} */
#myCuisine{
  background-color: lightgrey;

}
.example-form{
  float: left;
  width :20%;
}
.More{
width: 100%;
}
.b{
  background-color: cyan
}
