
<div mat-dialog-content>
  <button mat-icon-button color="primary" class="images" [mat-dialog-close]="['Hyderabad']"  >
  	<img class="logo-image" src="../assets/images/hyderabad.png" />
  </button>

  <button mat-icon-button color="primary" class="images"  [mat-dialog-close]="['Bengaluru']">
  	<img class="logo-image" src="../assets/images/bengaluru.png" />
  </button>

  <button mat-icon-button color="primary" class="images"  [mat-dialog-close]="['Mumbai']" >
  	<img class="logo-image" src="../assets/images/mumbai.png" />
  </button>

  <button mat-icon-button color="primary" class="images"  [mat-dialog-close]="['Chennai']" >
  	<img class="logo-image" src="../assets/images/chennai.png" />
  </button>

  <button mat-icon-button color="primary" class="images"  [mat-dialog-close]="['Delhi']" >
  	<img class="logo-image" src="../assets/images/delhi.png" />
  </button>

  <button mat-icon-button color="primary" class="images"  [mat-dialog-close]="['Kolkata']" >
  	<img class="logo-image" src="../assets/images/kolkata.jpg" />
  </button>

  <button mat-icon-button color="primary" class="images"  [mat-dialog-close]="['Pune']" >
  	<img class="logo-image" src="../assets/images/pune.png" />
  </button>
</div>
